In [11]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [25]:
import pandas as pd
import numpy as np

In [12]:
# %reload_ext google.cloud.bigquery

In [13]:
# !pip install --upgrade google-cloud-storage
# !pip install google-cloud-bigquery-storage pyarrow

In [90]:
# CONSTANTS
SUGGESTION_ACCEPT = 'SUGGESTION_ACCEPT'
INTERACTION = 'INTERACTION'

def format_user_id(n):
    sanitized_n = str(n).replace('.','').replace('e', '').replace('+', '')
    return sanitized_n[:8]

## Make Pandas DF From UserEvents

In [17]:
%%bigquery users_timestamps_events
SELECT user_pseudo_id, event_timestamp, param.value.string_value
FROM `rlbrush-app.analytics_238740288.events_*`,
UNNEST(event_params) as param
WHERE event_name like '%BUTTON_PRESS%'
AND param.key = "label"
ORDER BY user_pseudo_id, event_timestamp ASC

In [18]:
users_timestamps_events

            user_pseudo_id   event_timestamp     string_value
0    1004911408.1596462719  1596462726147229       BRUSH_SIZE
1    1004911408.1596462719  1596462726147229       BRUSH_SIZE
2    1010075655.1596500349  1596500358927949       BRUSH_SIZE
3    1010075655.1596500349  1596500358927949       BRUSH_SIZE
4    1010075655.1596500349  1596500364094321  GRID_TILE_CLICK
..                     ...               ...              ...
805   773017984.1596364461  1596364560480071       BRUSH_SIZE
806   895096090.1596461518  1596461523253004       BRUSH_SIZE
807   895096090.1596461518  1596461523253004       BRUSH_SIZE
808   912346600.1596493309  1596493314726055       BRUSH_SIZE
809   912346600.1596493309  1596493314726055       BRUSH_SIZE

[810 rows x 3 columns]

In [57]:
user_board_states_action_sequence_path = 'data/user_board_states_action_sequence.csv'
user_board_states_df = pd.read_csv(user_board_states_action_sequence_path)
user_board_states_df.head()

,Unnamed: 0,event_date,event_timestamp,user_pseudo_id,string_value,solution
0,0,20200802,1596402092675620,1.818652e+09,#######\n# #\n# #\n# @ #\n# #\n#...,[]
1,1,20200802,1596364468217326,7.730180e+08,#######\n# #\n# #\n# @ #\n# #\n#...,[]
2,2,20200802,1596364468217326,7.730180e+08,#######\n# #\n# $ #\n# @ #\n# #\n#...,[]
3,3,20200802,1596364477605691,7.730180e+08,#######\n# #\n# $ #\n# @ #\n# #\n#...,"[3, 0, 3, 0, 2, 2, 2]"
4,4,20200802,1596364483352137,7.730180e+08,#######\n# #\n# $ #\n# @ #\n# ##\n#...,"[3, 3, 0, 2, 2, 2, 1, 2, 0]"

In [70]:
user_board_states_by_user = {}

for idx in user_board_states_df.index:
    user_id = format_user_id(user_board_states_df['user_pseudo_id'][idx])
    if user_id not in user_board_states_by_user:
        user_board_states_by_user[user_id] = []
    timestamp = user_board_states_df['event_timestamp'][idx]
    board_state = user_board_states_df['string_value'][idx]
    solution = user_board_states_df['solution'][idx]
    user_board_states_by_user[user_id].append((timestamp, board_state, solution))
    
print(len(user_board_states_by_user.keys()))

34

In [82]:
sessions_by_user = {}

for idx in users_timestamps_events.index:
    user_id = format_user_id(users_timestamps_events['user_pseudo_id'][idx])
    # create events array for user
    if user_id not in sessions_by_user:
        sessions_by_user[user_id] = []
        
    # add interactions
    timestamp = users_timestamps_events['event_timestamp'][idx]
    action_name = users_timestamps_events['string_value'][idx]
    sessions_by_user[user_id].append((timestamp, INTERACTION, action_name))
    
    # add all board states in session
    if user_id in user_board_states_by_user:
        board_states = user_board_states_by_user[user_id]
        for board_state in board_states:
            sessions_by_user[user_id].append(board_state)
    
    sessions_by_user[user_id] = sorted(sessions_by_user[user_id], key=lambda x: x[0])

In [83]:
print(len(sessions_by_user.keys()))

35

In [84]:
print(sessions_by_user['10049114'])

[(1596462726147229, 'INTERACTION', 'BRUSH_SIZE'), (1596462726147229, '#######\n#     #\n#     #\n#  @  #\n#     #\n#     #\n#######', '[]'), (1596462726147229, 'INTERACTION', 'BRUSH_SIZE'), (1596462726147229, '#######\n#     #\n#     #\n#  @  #\n#     #\n#     #\n#######', '[]')]

In [91]:
## Average Session Duration

cols = [
    'user_id',
    'total_interactions',
    'first_interaction_time',
    'last_interaction_time',
    'first_suggestion_interaction_time',
    'norm_first_suggestion_interaction_time'
]

session_metrics_df = pd.DataFrame([], columns=cols)

def get_normalized_interaction_time(min_time, max_time, interaction_time):
    total_time = max_time - min_time
    rem_time = max_time - interaction_time
    duration = total_time - rem_time
    return duration / total_time

for user_id in sessions_by_user:
    session_events = sessions_by_user[user_id]
    # count user interactions with UI buttons, elements etc.  exclude checkpoint events
    total_interactions = len([ev[0] for ev in session_events if ev[1] == INTERACTION])
    first_interaction_time = session_events[0][0]
    last_interaction_time = session_events[-1][0]
    suggestion_interactions = [ev[0] for ev in session_events if ev[2] == SUGGESTION_ACCEPT]
    
    first_suggestion_interaction_time = None
    
    if suggestion_interactions:
        first_suggestion_interaction_time = suggestion_interactions[0]
    
    norm_first_suggestion_interaction_time = -1.0
    if first_suggestion_interaction_time:
        norm_first_suggestion_interaction_time = get_normalized_interaction_time(first_interaction_time, last_interaction_time, first_suggestion_interaction_time)
    
    row = [[
        user_id,
        total_interactions,
        first_interaction_time,
        last_interaction_time,
        first_suggestion_interaction_time,
        norm_first_suggestion_interaction_time
    ]]
    row_df = pd.DataFrame(row, columns=cols)
    session_metrics_df = session_metrics_df.append(row_df)

In [92]:
session_metrics_df

,user_id,total_interactions,first_interaction_time,last_interaction_time,first_suggestion_interaction_time,norm_first_suggestion_interaction_time
0,10049114,2,1596462726147229,1596462726147229,None,-1.000000
0,10100756,9,1596500358927949,1596500371769915,None,-1.000000
0,10775784,2,1596433281682939,1596433281682939,None,-1.000000
0,10840562,36,1596436259703755,1596436308804264,1596436285215744,0.519587
0,11200195,16,1596437276457333,1596437300448376,1596437300448376,1.000000
0,11497377,49,1596043526910883,1596043708407957,None,-1.000000
0,11785131,46,1596241784669842,1596403298338308,1596243522046307,0.010757
0,12331185,2,1596426307715411,1596426307715411,None,-1.000000
0,12995203,30,1596426789882274,1596426948599910,1596426910113751,0.757518
0,13535049,2,1596409168255142,1596409168255142,None,-1.000000
0,13572955,22,1596077270175763,1596077286938391,1596077286938391,1.000000
0,13672597,4,1596485786689206,1596485786689206,None,-1.000000
0,13978704,32,1596497076605070,1596497268653418,1596497262516841,0.968047
0,14759813,31,1596448611619663,1596448668527453,1596448649682245,0.668847
0,14846200,80,1596495864787514,1596496234860827,1596496182712302,0.859086
0,15175898,59,1596434042111307,1596434122485953,None,-1.000000
0,15905751,2,1596436246384711,1596436246384711,None,-1.000000
0,17340523,2,1596429230370103,1596429230370103,None,-1.000000
0,17426503,16,1596425042201993,1596425089976588,1596425084422677,0.883748
0,18186524,2,1596402092675620,1596402092675620,None,-1.000000
0,18681537,2,1596464333235032,1596464333235032,None,-1.000000
0,18859675,2,1596413792567606,1596413792567606,None,-1.000000
0,19195898,106,1596186019948849,1596204159285673,1596204104023447,0.996953
0,19910340,23,1596403169580866,1596403299510069,1596403238894978,0.533476
0,20867809,2,1596043519881385,1596043519881385,None,-1.000000
0,20911436,2,1596493381251093,1596493381251093,None,-1.000000
0,21095316,5,1596480706382720,1596480714266124,None,-1.000000
0,39132008,4,1596407181202832,1596474083505528,None,-1.000000
0,39745603,8,1596468605561920,1596468627175130,None,-1.000000
0,64065415,141,1596426850882159,1596427106622568,1596426929511844,0.307459
0,71331171,15,1596437527917120,1596437855354911,1596437542513467,0.044577
0,74824332,20,1596375645479147,1596375647182865,None,-1.000000
0,77301798,32,1596364468217326,1596364560480071,1596364495344437,0.294020
0,89509609,2,1596461523253004,1596461523253004,None,-1.000000
0,91234660,2,1596493314726055,1596493314726055,None,-1.000000